<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block desc %}{% endblock desc %}">
    <meta name="keywrods" content="{% block keywords %}{% endblock keywords %}">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
 {% block content %} <!-- все, что написано между откр и закр блоками будет меняться ><!-->

{% endblock %}  <!-- + allauth ищет base.html и этот блок и все в него добавляет. посмотреть в lib/side-packeges/allouth. пожно отуда достать шаблон, положить в свой templаte и верстать как уже будет нужно><!-->
</body>
</html>